/* Gallery */
.gallery {
    background:
        url(images/bg_glry1.png) fixed left center,
        url(images/bg_glry2.png) fixed right center;
    height: auto;
    padding-bottom: 25px;
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        .gitem {
            max-width: 225px;
        }
    }
    h1 {
        border-bottom: 4px solid;
        font-size: 2rem;
        color: rgb(60, 90, 174);
        font-weight: 500;
        line-height: 1.094;
        margin-bottom: 30px;
        padding-top: 30px;
        text-align: center;
        text-transform: uppercase;        
    }
}

/* Card */
.card {
    background-color: rgb(213, 237, 249);
    border-radius: 10px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.62);
    margin-bottom: 35px;
    img.card-img-top {
        padding: 5px;
    }
    .card-body {
        text-align: center;
        p span.upcase {
            color: rgb(83, 83, 83);
            font-size: 1.2rem;
            letter-spacing: -1px;
            text-transform: uppercase;
        }
        p span.lcaseb {
            text-transform: none;
            font-weight: bold;
        }
        h4 {
            color: rgb(47, 151, 13);
            font-size: 1.6rem;
        }
    }
}

// Для высшего образования
.card-vo {
    background-color: #D0F3EC;
}

/* Button ЗАКАЗАТЬ в карточке товара card */
.card .card-body .btn-order {
    border-radius: 10px;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.094;
    padding: 0.4rem .9rem;
}
