/* Верхнее широкое меню */
.site-header {
    background: #3C5BAE;
    box-shadow: 2px 2px 3px #888;
    margin-bottom: 6px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 105px solid transparent;
    border-right: 10px solid #BFE0F1;
    border-bottom: 105px solid transparent;
    margin-right: -15px;
}

.triangle-right {
    width: 0;
    width: 0;
    height: 0;
    border-top: 105px solid transparent;
    border-left: 10px solid #BFE0F1;
    border-bottom: 105px solid transparent;
    margin-left: -15px;
}

.top-wrap .toplarge-menu {
    display: flex;
    margin-bottom: 25px;
    .navbar {
        align-self: stretch;
        background: #343a40;
        padding: 0;
        #navbarNavTop,
        #navbarNavBtm,
        #navbarNavBtm2 {
            align-self: stretch;
            ul.navbar-nav {
                align-self: stretch;
                background: #E9F8FF; 
                /* margin-left: 0.2em; */
                margin-left: 0;
                a:hover {
                    color: #fff;
                }
            }
        }
    }
    ul li {
        box-shadow: 0 8px 7px -7px #222;
        margin-bottom: -22px;
        background-color: #BFE0F1;
        padding: 0 3px;
        margin-right: 5px;
        width: 20%;
    }
    & ul li:last-child {
        margin-right: 0;
    }
    .navbar-expand-lg {
        display: flex;
    }    
}    

.site-branding {
    color: #fff;
    margin-top: 5px;
    margin-left: -22px;
    .brand-card-body {
        text-align: center;
    }
    h6 {
        color: #fff;
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: normal;
    }
    p {
        line-height: 1.4;
        margin-bottom: 4px;
        &.brand-card-tel1 {
            font-size: 1.1rem;
            margin-bottom: 0;
        }
        &.brand-card-tel2 {
            font-size: 1.1rem;
        }
    }
    h4.brand-card-title {
        border-top: 4px solid #E9F8FF;
        border-bottom: 4px solid #E9F8FF;
        font-size: 2.15rem;
        text-transform: uppercase;
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

/* Отдельный пункт верхнего меню */
li.nav-item .nav-card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    & .nav-card-img-top {
        display: block;
        margin: 15px auto;
    }
    & .nav-card-body {
        text-align: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 500;
        margin-top: 5px;
        letter-spacing: -0.5px;
        a.nav-link {
            color: #3C5BAE;
            display: block;
        }
        a.nav-link:hover {
            text-decoration: none;
        }
    }
}

/* Верхнее главное узкое меню */
.topnarrow-menu {
    box-shadow: 2px 3px 5px #888;
    padding: 0;
    .navbar-brand {
        color: rgb(101, 68, 4);
        font-size: smaller;
        line-height: 1.2;
    }
    & #navbarNav {
        align-self: stretch;
        justify-content: flex-end;
        ul.navbar-nav {
            align-self: stretch;
            align-items: center;
            li a {
                color: rgb(101, 68, 4);
                line-height: 1.2;
                padding: .8rem 1rem;
                display: inline-block;
                text-transform: lowercase;
                &:hover {
                    text-decoration: none;
                    background-color: lighten(#88E769, 7.5%);
                }                
            }
        }
    }
    .current_page_item a {
        text-decoration: none;
        background-color: #FABA36;
        &:hover {
            background-color: #FABA36 !important;
        }
    }
}


.main-navigation {
    //background: #eee;
}

