/* Jumbotron */
.jumbotron {
    background:
        url(images/bg_jumb_leftsmms.png) repeat-y left center,
        url(images/bg_jumb_rightsmms.png) repeat-y right center,
        url(images/jumb_mainimg.png) no-repeat 39% center;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.62);
    height: 534px;
    margin-bottom: 0;
    padding-top: 1.5rem;
    .col-4 {
        margin-left: -20px;
    }
    h2 {
        color: rgb(47, 151, 13);
        font-family: "Roboto-Bold";        
        font-size: 2.3rem;
        text-transform: uppercase;
    }
    .lead {
        color: rgb(60, 90, 174);
        font-family: "Roboto-Medium";
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: 1.2;
        text-transform: uppercase;
    }
}
.jumb_grad {
    background-image: linear-gradient(to bottom, #fff, #707070);
    height: 7px;
}

/* Форма Срочный заказ диплома */
form.mainpf,
form.wpcf7-form {
    background: rgb(47, 151, 13);
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 3px;
    fieldset {
        flex-direction: column;
        display: flex;
        p:nth-child(4){
            display: flex;
            justify-content: center;
        }
        p.lastp {
            // margin-bottom: 0;
        }          
    }
    legend {
        color: #fff;
        font-family: "Roboto-Medium";
        font-size: 1.7rem;
        font-weight: 600;
        padding-top: 25px;
        text-align: center;
        text-transform: uppercase;
    }
    input.form-control,
    select.form-control {
        border-radius: 0.6rem;
        font-size: 0.9rem;
        //margin-bottom: 7px;
        margin-bottom: -6px;
        width: 85%;
    }
    .form-group {
        align-items: center;
        flex-direction: column;
        display: flex;
        span {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    p {
        color: #88E769;
        font-size: 0.75rem;
        line-height: 1.2;
        margin-left: 10%;
        margin-right: 10%;
    }
    p.safety {
        &::before {
            background:url(images/i_lock.png) no-repeat;                
            content: "";
            float: left;
            margin-right: 15px;
            height: 47px;
            width: 47px;                               
            position: relative;
            z-index: 0;
        }
    }
    button.btn-outline-order {
        border-radius: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0 23% 15px; 
        text-align: center;
        text-transform: uppercase;
        line-height: 1.094;        
    }
    #idsubmbtn {
        font-family: "Roboto-Bold";
        font-size: 1.4rem;            
        font-weight: 600;
        border-radius: 10px;
        padding: .1rem 2rem;
        text-transform: uppercase;
    }  
    &::before {
        background:url(images/i_topballsmm.png) no-repeat;                
        content: "";
        float: right;
        margin-right: -25px;
        height: 25px;
        width: 25px;                               
        position: relative;
        z-index: 0;
    }
    &::after {
        background:url(images/i_btmballsmm.png) no-repeat;                
        content: "";
        float: right;
        margin-right: -25px;
        height: 25px;
        width: 25px;                               
        position: absolute;
        z-index: 0;
        top: 480px; // 454px;
        right: -17px; // 15px;
    } 
    span.wpcf7-form-control-wrap {
        flex-direction: column;
    }
    input.wpcf7-form-control,
    select.wpcf7-form-control {
        align-self: center;
        //margin-bottom: .36rem;
        margin-bottom: -.27rem;
    }
    span.wpcf7-not-valid-tip {
        flex-direction: unset;
        font-size: .85rem;
        position: absolute;
        top: 18px;
    }
    .wpcf7-response-output,
    .wpcf7-display-none,
    .wpcf7-mail-sent-ok {
        border: 2px solid #88E769;
        border-radius: .6rem;
        margin-left: 3rem;
        margin-right: -2rem;
        margin-top: 3rem;              
    }
    div.wpcf7-response-output {
        //border: 2px solid #88E769;
        //border-radius: 10px;
        left: 0;
        //margin-left: 3rem;
        //margin-right: -2rem;
        //margin-top: 3rem;              
        position: absolute;
    }  
    div.wpcf7-mail-sent-ok {
        //background-color: lighten(#398f14, 15%) ;
        background-color: $mygreen;
        top: 450px;
    }
    .wpcf7-validation-errors {
        background-color: #f7e700;
        border-color: #f7e700;
        top: 450px;
    }     
}
.right-sb {
    form.wpcf7-form {
        div.wpcf7-mail-sent-ok,
        .wpcf7-validation-errors {
            left: 1rem;
            top: 315px;
        }
    }
} 