/* Main content background*/
.content-area {
    background:
        url(images/cloud_smallsmm.png) no-repeat 4% 3%,
        url(images/cloud_smallsmm.png) no-repeat 98% 0,
        url(images/cloud_leftsmm.png) no-repeat -2% 19%,
        url(images/cloud_right_topsmm.png) no-repeat 100% 12%,
        url(images/cloud_right_btmsmm.png) no-repeat 100% 30%,
        url(images/tree_left_topsmm.png) no-repeat -1% 48%,
        url(images/tree_left_btmsmm.png) no-repeat -2.9% 97%,
        url(images/tree_right_topsmm.png) no-repeat 94% 55%,
        url(images/tree_right_btmsmm.png) no-repeat 88% 97%;
    height: auto;
    margin-top: -50px;
    padding-bottom: 25px; 
    .blank-block {
        height: 80px;
    }
}