/* Reviews Page Template: page-reviews.php */
.page-reviews {
	h2 {
		color: #3C5AAE;
		text-align: center;
		text-transform: uppercase;			
	}
	.comments-area {
		.comment-respond {
			display: flex;
			justify-content: center;
		}
		.comment-form {
			line-height: 0.3;
			input,
			textarea {
				border-radius: 0.6rem;
			}
			.submit {
				align-self: center;
				border: 2px solid;
				font-size: 1.5rem;
				font-weight: 500;
				line-height: 1.094;
				text-align: center;
				text-transform: uppercase;
				padding: 10px 20px;
			}
		}
		h1 {
			background: #3c5aae;
			border-top-left-radius: .6rem;
			border-top-right-radius: .6rem;
			box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.8);
			color: #fff;
			font-size: 1.6rem;
			font-weight: 600;
			margin: 1.5rem 0 .5rem 0;
		}
		.comment {
			background-color: #3C5AAE;
			box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.8);
			font-weight: 500;
			margin: .48rem 0; 
			padding: 1.5rem 2rem;
			.author_meta {
				color: #fff;
				display: flex;
			}
		}
	}
}

/* Форма обратной связи Оставить отзыв */
.page-reviews {
    form.mainpf,
    form.wpcf7-form {
        background-color: transparent;
        display: flex;
        justify-content: center;
        &:before,
        &:after {
        	display: none;
        }
        fieldset {
        	p:last-child {
        		text-align: center;
        	}
        }
        #idsubmbtn {
        	font-size: 1.1rem;
        }
    }
    //form.mainpf div.wpcf7-mail-sent-ok, 
    //form.wpcf7-form div.wpcf7-mail-sent-ok,
    //form.mainpf div.wpcf7-response-output, 
    form.wpcf7-form div.wpcf7-response-output {
        margin: 0;
        top: 255px; //250px;
    }
    .wpcf7-textarea {
		align-self: center;
		border-radius: .6rem;
		height: 5rem;
		width: 85%;
    }
    #respond.comment-respond {
    	display: none;
    }
}

.fn, .url {
	color: #fff;
	margin-right: .4rem;
}

.says {
	display: none;
}

.comment-meta {
	a {
		color: #fff;
		font-weight: 400;
		&:before {
			content: "| ";
		}
	}
}

.comment-content p {
	color: #fff;
	margin-top: 10px;
}

.comment-page-nav {
	background: #3c5aae;
	border-bottom-left-radius: .6rem;
	border-bottom-right-radius: .6rem;
	color: #fff;
	font-size: 1.9rem;
	font-weight: 500;
	margin: .5rem 0 .5rem 0;
	text-align: center;
	.page-numbers {
		font-size: 1.5rem;
		margin: 0 .3rem; 
		&.current {
			font-size: 1.6rem;
		}
	}
}
